<div class="container">
  <div class="card" style="width: 50rem;">
    <img class="card-img-top" src="{{this.countryDetails.flag}}" alt="Card image cap">
    <div class="card-body">
      <span><b>Name:</b> </span><p class="card-text">{{this.countryDetails.name}}</p>
      <span><b>Capital:</b> </span><p class="card-text">{{this.countryDetails.capital}}</p>
      <span><b>Population:</b> </span><p class="card-text">{{this.countryDetails.population}}</p>
      <a href="" class="btn btn-primary">Go Back</a>
    </div>
  </div>
</div>
